* {
    box-sizing: border-box;
}

body {
    background-color: darkslateblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

header {
    background-color: darkslategray;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.search {
    background-color: transparent;
    border: 2px solid olivedrab;
    border-radius: 10em;
    color: white;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.search::placeholder {
    color: darkorange;
}

.search:focus {
    background-color: darkcyan;
    outline: none;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    background-color: darkolivegreen;
    border-radius: 3px;
    box-shadow: 0em 0em 0.1em 0.1em blueviolet;
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 10em;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: burlywood;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0em;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: darkmagenta;
    border-radius: 0.5em;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}

.movie-info span.green {
    color: rgb(39, 189, 39);
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: rgb(189, 42, 42);
}

.overview {
    background-color: blanchedalmond;
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.overview h3 {
    margin-top: 0;
}

.movie:hover .overview {
    transform: translateY(0);
}